@page
@model ContosoCrafts.WebSite.Pages.Aboutus.IndexModel
@{
    ViewData["Title"] = "Index page";
}

<!--Index.cshtml
    Desc: Displays a list of all products(arts).
    -->
<div class="container">

    <!--Table of Products-->
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Our Team members</th>
                <th>Please Contact</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>Kramer Johnson</th>
                <th><a class="drk-md-light-text" href="https://github.com/HaakenJ">https://github.com/HaakenJ</a></th>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <th>Henry Song</th>
                <th><a class="drk-md-light-text" href="https://github.com/henryxsong">https://github.com/henryxsong</a></th>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <th>Uchenna Nwoke</th>
                <th><a class="drk-md-light-text" href="https://williamnwoke.github.io/">https://williamnwoke.github.io/</a></th>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <th>Zhicong Zeng</th>
                <th><a class="drk-md-light-text" href="https://github.com/Zhicong-Zeng">https://github.com/Zhicong-Zeng</a></th>
            </tr>
        </tbody>
    </table>
</div>